body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    color: #00ff00;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin-top: 50px;
    font-size: 48px;
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00, 0 0 50px #00ff00, 0 0 60px #00ff00;
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 50%; 
    margin: auto; 
  }
  
  #password-settings {
    margin-bottom: 30px;
    text-align: left;
  }
  
  .btn {
    background-color: #00ff00;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px #00ff00;
    transition: transform 0.2s ease-in-out;
    width: 200px; 
  }
  
  .btn:hover {
    transform: scale(1.1);
  }
  
  .hidden {
    display: none;
  }
  
  #password {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    min-height: 50px;
    background-color: #222222;
    color: #00ff00;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 0 10px #00ff00;
    resize: none;
    width: 100%; 
  }
  
  .copy-btn.success {
    background-color: #00ff00;
    color: #000000;
  }
  
  #copy-success {
    color: #00ff00;
    margin-top: 10px;
    font-size: 20px;
    text-shadow: 0 0 10px #00ff00;
  }
  